.bio-content{
    display: flex;
    flex-direction: column;
    height: 400px
    /* justify-content: center; */
    /* width: 100%; */
}

.bio-title {
    /* display: flex; */
    /* justify-content: flex-start; */
    /* align-items: flex-end; */
    /* padding-left: 3.5em; */
    /* width: 75%; */
    /* margin: auto; */
    /* margin-left: 0; */
}

.bio-title-hey {
    font-size: 34px;
    margin-block-end: 0;

    /* typewrite effect */
    /* width: 33%; */
    display: inline-flex;
    border-right: 2.5px solid;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 1s steps(7, end), 
        blink 1.5s step-end infinite;
}

@keyframes typing {
    from {width: 0}
    to {width: 100%}
}

@keyframes blink {
    50% {border-color: transparent}
}

/* .bio-title-hey:hover{
    color: #669AD1;
} */

.bio-content-text-container {
    border-left: 1px solid #2A2A2A;
    /* width: 550px; */
    /* margin: auto; */
    /* margin-left: 0; */
}

p {
    font-size: 11.5px;
    text-align: left;
    padding-left: 2em;
}
/* p:hover{
    color: #CC77D1;
} */

/* .contain-width{
    width: fit-content;
} */

@media screen and (min-width: 360px) {
    .bio-title{
        /* width: 75%; */
        width: fit-content;
    }

    .bio-content-text-container{
        width: 75%;
        /* width: fit-content; */
    }

    .bio-title-hey{
        font-size: calc(28px + 16 * ((100vw - 360px)/640));
    }
    p{
        font-size: calc(11.5px + 4.5 * ((100vw - 360px)/ 640));
    }

    /* below code for logo responsiveness */
    .name-logo{
        font-size: calc(11.5px + 4.5 * ((100vw - 360px)/ 640));
    }

    .main-logo{
        width: calc(65px + 10 * ((100vw - 360px)/ 640));
    }

}

@media screen and (min-width: 1000px) {
    .bio-title{
        /* width: 65%; */
        width: fit-content;
    }

    .bio-content-text-container{
        /* width: 65% */
        width: 560px;
    }

    .bio-title-hey{
        font-size: 50px
    }
    p{
        font-size: 16px;
    }

    /* below code for logo responsiveness */
    .name-logo{
        font-size: 16px
    }

    .main-logo{
        width: 75px
    }
}