.header-content {
    width: 100%;
    border-bottom: 1px solid #2A2A2A;
    background-color: #1F1F1F;
}

.header-logo {
    display: flex;
    justify-content: flex-start;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-logo {
    width: 65px;
    padding-left: 2em;
}

.name-logo {
    padding-top: 2.5em;
    font-size: 11.5px;
    letter-spacing: -1px;
}

/* research if it's possible to cross reference css files
ie. Is there a way to have one file with @media and import
*/